/* styles for pump project */


/* general */
*,
*::before,
*::after { box-sizing: border-box; }
html { font-size: 16px; }
small { font-size: 0.8rem }
label { font-size: 0.8rem }



/* FONT, TEXT --------------------------------------------------------- */
.micro { font-size: 0.5rem; }
.tiny { font-size: 0.7rem }
.small { font-size: 0.8rem }
.medium, .normal { font-size: 1.0rem }
.default { font-size: 1.25rem }
.large { font-size: 1.5rem }
.xlarge { font-size: 2.0rem }
.bold { font-weight: bold; }
.italic { font-style: italic }
.tcenter, .tc { text-align: center; }
.tleft, .tl { text-align: left; }
.tright, .tr { text-align: right; }



/* COLOR ---------------------------------------------------------------- */
.indigo { color: #5c6bc0 }
.grey { color: #616161 }
.red { color: red }
.blue { color: blue;}
.green { color: green }
.yellow { color: yellow }
.pink { color: pink }
.brown { color: brown }
.black { color: black }
.white { color: white }
.cyan { color: cyan }
.indigo-bg { background-color: #5c6bc0;}
.grey-bg { background-color: #eeeeee; }
.cyan-bg { background-color: cyan;}
.white-bg { background-color: white;}
.black-bg { background-color: black;}




/* SPACE, CONTAINER, GRID ----------------------------------------------------------------- */
.world-space { 
  max-width: 800px; margin: 0 auto 60px auto; padding: 0 16px;   
}



.form-space { 
  display: grid; 
  align-items: center; 
  gap: 16px; /* Increased gap for better look */
  margin-top: 32px;
  width: 100%;
}

/*  .form-space { display: grid; align-items: center; gap: 1px; margin-top: 32px } */
.form-space > input { width: 100%; padding: 4px; }
.form-space input,
.form-space textarea,
.form-space select,
/*.form-space p,*/
.form-space span,
.form-space option { font-size: 1.25rem; }
.form-space p { padding: 0; margin: 0 }
.form-space > label { font-size: 1.0rem; }




.line-in-form {
  grid-column: span 2; width: 100%; border-top: 1px solid lightgrey; margin: 16px 0;
}



/* grid - make grid or table with white border and light grey as the background. We may use this in replacing the traditional <table> */
.grid-space { display: grid; gap: 1px; align-items: center; }
.grid-space span { 
  background-color: #eeeeee; font-size: 0.8rem; padding: 4px; 
  height: 100%;  
}




/* ACT -------------------------------------------------------*/
.hover-it:hover { background-color: #b2ebf2;}




/* DISPLAY, SHOW, HIDE ------------------------*/
.hide { display: none; }
.grid { display: grid; }
.flex { display: flex; }
.block { display: block; }




/* SHAPE -------------------------------------------------------*/
.round { border-radius: 10px; }






/* POINTER -------------------------------------------------------*/

.pointer { cursor: pointer }

