/*===============================================================================

    for emplio-user-guide/index.html 

================================================================================*/


:root {
  --m-lgray: oklch(96.7% 0.003 264.542);
  --m-def-font-size: 1.125rem;
  --brand-color: #1fc1e9;
  --brand-color2: #112b4f;
}



* { font-family: "Times New Roman", Times, serif }
html { font-size: 16px }
body { padding: 0 24px }
h1 { color: black; font-family: "Noto Sans Thai"; }
h2 { color: oklch(62.3% 0.214 259.815); font-family: "Noto Sans Thai"; margin-top: 40px }
h3 { color: oklch(52.7% 0.154 150.069); font-style: italic; text-decoration: underline; font-family: "Noto Sans Thai"}

p, li, a { font-size: 1.125rem; }
code { font-family: monospace; background-color: oklch(92.8% 0.006 264.531); padding: 0 8px; border-radius: 8px; }

img { width: 100%; margin: 32px 0; }

#m-scroll-top-icon:hover { color: HotPink !important }
.m-gray-bg { background-color: var(--m-lgray) !important;}


/* this is for EMPliO360 brand, tried to use color codes that client sent but they not show off, so just pick DeepPink first */
brand { 
  font-family: sans-serif;
  font-weight: bold; 
  color: DeepPink; 
}








/* grid table --------------------------------*/
.m-grid {
  background-color: white;
  display: grid; 
  grid-template-columns: 1fr 2fr; 
  gap: 1px
}

.m-grid span { 
  background-color: var(--m-lgray); 
  font-size: 1.125rem; 
  padding: 8px 16px; 
}


/* step shape -------------------------------*/
.m-step-mom {
  display: flex; 
  align-items: center; 
  flex-wrap: wrap;
  margin: 32px 0;
  gap: 4px 0;
}


.m-step {
  background-color: DarkGray;
  /*color: white;*/

  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
  height: 100px;
  
  /* Flexbox for perfect centering */
  display: flex;
  align-items: center;
  justify-content: center;
  
  /* Layout */
  margin: 0;
  min-width: 160px;
  max-width: 200px;
  
  /* The sharp "v" arrow shape */
  /*clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%, 10% 50%);
  */
  clip-path: polygon(0% 0%, calc(100% - 25px) 0%, 100% 50%, calc(100% - 25px) 100%, 0% 100%, 25px 50%);
  /* Padding keeps the text away from the left point */
  padding: 16px calc(25px + 16px);

  filter: drop-shadow(0 4px 10px rgba(0,0,0,0.2));

  /*border: 2px solid #ddd; */
}




/* footer --------------------------------------*/




/* Update your CSS */
.m-footer-mom {
  padding: 40px 0 24px 0;
}

.m-footer {
  text-align: center;
  font-size: 0.9rem;
  color: gray;
}














/*-----------------------------------mobile----------------------------------------*/
@media (max-width: 500px) {
  .m-step-mom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-top: 32px;
  }

  .m-step {
    width: 100%;
    font-size: 1rem;
    padding: 8px calc(16px + 16px);
    clip-path: polygon(0% 0%, calc(100% - 16px) 0%, 100% 50%, calc(100% - 16px) 100%, 0% 100%, 16px 50%);

  }
}